
/.stfolder
bash/qbittorrent-cleaner/qb_instances.lst
*sync-conflict*
/bash/qbittorrent-cleaner/output
/python/jellyfin-delete-sync/__pycache__
python/jellyfin-delete-sync/config.py
*.tmp
python/jellyfin-delete-sync/episode_map.db
*.patch
/python/jellyfin-delete-sync/old versions
