[Unit]
Description=Check vpn status on boot and trigger a script
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/script/check-vpn
User=root
StandardOutput=journal
StandardError=journal
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
