[Unit]
Description=Monitor changes to the number of interfaces and trigger a script
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
StartLimitBurst=10
StartLimitIntervalSec=1
ExecStart=/opt/script/monitor-interfaces
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
