[Unit]
Description=Monitor ip changes and trigger a script
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
StartLimitBurst=10
StartLimitIntervalSec=1
ExecStart=/opt/script/monitor-ip
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
